.main{
    display: flex;
    // height: 600px;
}

.main .left-side{
    flex:1.3;
//     background-color: red;
}

.main .right-side{
    flex:1;
}

.main .right-side { 
    .sdebx{
        padding-left: 170px;
    }
    .sizeBuy p{
        font-size:20px;
        font-weight:bolder
    }
    h3 span{
        font-size:25px;
       
    }
    
}

.main-photo{
    height: fit-content;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.photo-list{
    display: flex;
    align-items: center;
    margin:15px;
    padding:15px;
    justify-content: flex-end;
}

.photo-list .small-box img{
    height: 150px;
    padding:2px;
    
    cursor: pointer;
    
}

.photo-list .small-box {
    margin-right:10px;
}

.photo-list .small-box:first-child{
    border:1px solid
}

@media (max-width: 640px) {
    .main {
        flex-direction: column;
    }

    .main-photo {
        flex-direction: row; 
        justify-content: center;
    }

    .photo-list{
        justify-content: center;
    }

    .photo-list .small-box img{
        height:100px
    }

    .main .right-side { 
        .sdebx{
            padding-left: 0px;
        }
    }
}


