<!-- <div class="footer">
    <div class="container">
        <div class="first">
            <h4 style="text-transform:uppercase">Respectale</h4>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                203 Fake St. Mountain View, San Francisco, California, USA</p>
            <p>+2 392 3929 210</p>
            <p>info@yourdomain.com
            </p>
        </div>
    </div>
    
</div> -->
<div class="footer p-4">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12"
        style="max-height: 52px; line-height: 52px; overflow-y: hidden"
      >
        <h4>AyushmaanBhaava</h4>
        <br /><br />
      </div>
    </div>
    <section class="col-xs-12">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <span class="footerTitle">CUSTOMER SERVICE</span>
          <ul class="list">
            <li>
              <a>Contact Us</a>
            </li>
            <li>
              <a> Track Order </a>
            </li>
            <li>
              <a>Return Order</a>
            </li>
            <li>
              <a>Cancel Order</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3">
          <span class="footerTitle">COMPANY</span>
          <ul class="list">
            <li>
              <a> About Us </a>
            </li>
            <li>
              <a> We're Hiring </a>
            </li>
            <li>
              <a> Terms &amp; Conditions </a>
            </li>
            <li>
              <a>Privacy Policy </a>
            </li>
            <li>
              <a>Blog</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3">
          <span class="footerTitle">CONNECT WITH US</span>
          <div class="col-xs-12">
            <div>
              <ul class="list">
                <li>
                  <a>
                    <i class="fab fa-facebook-f fa-lg pr-1"></i>
                    &nbsp;4.7M People Like this</a
                  >
                </li>
                <li>
                  <a>
                    <i class="fab fa-instagram fa-lg pr-1"></i>

                    1M Followers
                  </a>
                </li>
              </ul>
            </div>
            <div style="letter-spacing: 10px">
              <a><i class="fab fa-twitter fa-lg"></i></a
              ><a><i class="fab fa-pinterest fa-lg"></i></a
              ><a><i class="fab fa-snapchat fa-lg"></i></a
              ><a><i class="fab fa-apple fa-lg"></i></a
              ><a><i class="fab fa-android fa-lg"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 d-none d-sm-block">
          <!-- <span class="footerTitle">KEEP UP TO DATE</span>
          <form name="subscriptionForm" role="form">
            <input
              type="email"
              value=""
              class="form-control subscription col-xs-7"
              placeholder="Enter Email Id"
              required=""
            /><input
              type="submit"
              value="SUBSCRIBE"
              class="subscribeButton col-xs-5"
            />
          </form>
          <div class="errorHolder"></div> -->
        </div>
      </div>
    </section>
    <section class="col-xs-12">
      <div class="row">
        <br class="d-none d-sm-block" /><br class="d-none d-sm-block" />
        <div class="col-md-3 col-sm-6 d-none d-sm-block">
          <ul class="list">
            <li>
              <a
                ><i class="fab fa-first-order"></i>&nbsp;&nbsp;&nbsp;&nbsp;15
                Days return policy</a
              >
            </li>
            <li>
              <a>
                <i class="fas fa-cash-register"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cash
                on delivery*</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <ul class="list">
            <li>
              <span class="footerTitle">DOWNLOAD THE APP</span>
              <div class="downloadAppIcon">
                <a>
                  <img
                    src="https://images.bewakoof.com/web/app_android_v1.png"
                    title="android app"
                    alt="android app"
                    width="100px"
                    class="pr-2"
                  />
                  <!-- <img
                    src="https://images.bewakoof.com/web/android-2x.png"
                    title="android app"
                    alt="android app"
                    width="24px"
                    class="" /> -->
                </a>
                <a>
                  <img
                    src="https://images.bewakoof.com/web/app_ios_v1.png"
                    title="ios app"
                    alt="ios app"
                    width="100px"
                  />
                  <!-- <img
                  src="https://images.bewakoof.com/web/apple-2x.png"
                  title="ios app"
                  alt="ios app"
                  width="24px"
                  class=""
                /> -->
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12">
          <!-- <br class="d-none d-sm-block" /><br class="d-none d-sm-block" /> -->
          <ul class="list">
            <li>
              <span class="footerTitle">100% Secure Payment</span>
            </li>
            <li>
              <img
                class="paymentImg"
                src="https://images.bewakoof.com/web/secure-payments-image.png"
                title="secure payments"
                alt="secure payments"
              />
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
