<app-slider></app-slider>
<div class="products-container">
  <div>
    <div class="title">
      <h2>Unisex Collections</h2>
    </div>
    <div class="body">
      <ng-container *ngIf="!data">
        <app-loading-spinner></app-loading-spinner>
      </ng-container>

      <div class="cards">
        <div class="card mat-card" (click)="productHome(item.title)"
        *ngFor="let item  of data; let id = index">
          <img class="card-img-top " src="{{ item.imageUrl }}" alt="Card image cap">
          <div class="card-body p-2">
            <h6 class="card-text text-center">{{item.title}}</h6>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<app-ads *ngFor="let item of [1,2,3];let i =index" [id]="i+1"></app-ads>
