@media (max-width: 680px) {
    h1{
        font-size:22px
    }
    p{
        font-size: 15px !important;
    }

    input, button {
        height: 2em;
    }

    button {
        padding:0
    }
    
    small{
        letter-spacing: normal;
    }
}