<div class="container mt-5" style="height: 27em;" >
    <div class="col-lg-6 offset-lg-3 border border-secondary p-4 rounded">
        <h1>Password Assistance</h1>
        <p style="font-size: 1.1em;">Enter the email address associated with your account.</p>
        <p *ngIf="msg" class="text-danger">{{msg}}</p>
        <div style="text-align: center;">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
        <form
            [formGroup]="fPasswordForm"
            *ngIf="!isLoading"
        >
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input 
                type="email" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp" 
                placeholder="Enter email" 
                [title]="fPasswordForm.valid ?'':'Enter a valid email address'"
                data-toggle="tooltip" 
                formControlName="email"
                data-placement="top">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-secondary form-control " (click)="onSumbit()" [disabled]="!fPasswordForm.valid">Continue</button>
          </form>
    </div>
</div>
